# Copy to .env.local and adjust for your environment.
MAGENTO_GRAPHQL_URL=https://magento.test/graphql
MAGENTO_STORE_CODE=default
NODE_EXTRA_CA_CERTS=./certs/magento-rootCA.pem
NEXT_PUBLIC_MEDIA_URL=https://magento.test/media/
NEXT_PUBLIC_SITE_URL=http://localhost:3000
